/* Declare variables */
:root {
  font-size: 16px;

  /* Variables */
  --bg-header: #f9f9f9;
  --bg-content: #f1f1f1;
  --bg-primary: #cc0000;
  --bg-default: #ffffff;
  
  --bg-general-1: #777777;

  --color-in-primary: #ffffff;

  --text-general: #030303;
  --text-additional: #606060;

  --font-size-additional: 0.9rem;
  --font-size-channel-title: 1.7rem;

  --transition-fast: 0.1s;
}

/* Tag overloads */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility classes */
.content-container {
  max-width: 1300px;
  margin: auto;
  padding: 0px 2rem;
}

/* Background colors */
.bg-header {
  background-color: var(--bg-header);
}
.bg-content {
  background-color: var(--bg-content);
}
.bg-primary {
  background-color: var(--bg-primary);
}
/* Heights */
.h-100vh {
  height: 100vh;
}
.mh-100vh {
  min-height: 100vh;
}

/* Font sizes */
.font-size-additional {
  font-size: var(--font-size-additional);
}

/* Buttons */
.primary-button {
  background-color: var(--bg-primary);
  color: var(--color-in-primary);
  padding: 0.5rem 1rem;
  display: inline-block;
}

.arrow-button {
  border-radius: 50%;
  background-color: var(--bg-default);
  border: none;
  transition: var(--transition-fast);
  width: 3rem;
  padding: .4rem;
}

.arrow-button path {
  fill: var(--bg-general-1);
}

.arrow-button:hover,
.arrow-button:focus {
  background-color: var(--bg-content);
}

.arrow-button.arrow-button-down {
  transform: rotate(90deg);
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 30%), 0 0 4px rgba(0, 0, 0, 20%);
}

.primary-button:hover,
.primary-button:focus {
  color: var(--color-in-primary);
  background-color: var(--bg-primary);
  text-decoration: none;
}

/* Misc */
.channel-title {
  font-size: var(--font-size-channel-title);
  font-weight: normal;
  margin: 0;
}

/* Responsive */
@media (max-width: 576px) {
  .content-container {
    padding: 0;
  }
}
